Edge/nodered/data/.flows.json.backup
[
  {
    "id": "524bde768d1b3eb9",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "244ef6ab4bfd754c",
    "type": "mqtt-broker",
    "name": "Mosquitto docker 1",
    "broker": "mosquitto",
    "port": 1883,
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "/node/Pi-livingroom-5f2d7a/status",
    "birthQos": "2",
    "birthRetain": "false",
    "birthPayload": "ONLINE",
    "birthMsg": {},
    "closeTopic": "/node/Pi-livingroom-5f2d7a/status",
    "closeQos": "2",
    "closeRetain": "false",
    "closePayload": "OFFLINE",
    "closeMsg": {},
    "willTopic": "/node/Pi-livingroom-5f2d7a/status",
    "willQos": "2",
    "willRetain": "false",
    "willPayload": "DISCONNECTED",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "2c06a55a47dc6d84",
    "type": "mqtt-broker",
    "name": "Mosquitto docker 2",
    "broker": "mosquitto",
    "port": 1883,
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "/node/Pi-hall-7b1f4d/status",
    "birthQos": "2",
    "birthRetain": "false",
    "birthPayload": "ONLINE",
    "birthMsg": {},
    "closeTopic": "/node/Pi-hall-7b1f4d/status",
    "closeQos": "2",
    "closeRetain": "false",
    "closePayload": "OFFLINE",
    "closeMsg": {},
    "willTopic": "/node/Pi-hall-7b1f4d/status",
    "willQos": "2",
    "willRetain": "false",
    "willPayload": "DISCONNECTED",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "6d1fc0383f2aa38d",
    "type": "mqtt-broker",
    "name": "Mosquitto docker 3",
    "broker": "mosquitto",
    "port": 1883,
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "/node/Pi-checkin-a3c9e2/status",
    "birthQos": "2",
    "birthRetain": "false",
    "birthPayload": "ONLINE",
    "birthMsg": {},
    "closeTopic": "/node/Pi-checkin-a3c9e2/status",
    "closeQos": "2",
    "closeRetain": "false",
    "closePayload": "OFFLINE",
    "closeMsg": {},
    "willTopic": "/node/Pi-checkin-a3c9e2/status",
    "willQos": "2",
    "willRetain": "false",
    "willPayload": "DISCONNECTED",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "raspi1-inject",
    "type": "inject",
    "z": "524bde768d1b3eb9",
    "name": "Raspberry Pi ",
    "props": [],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": "",
    "topic": "",
    "x": 160,
    "y": 220,
    "wires": [
      [
        "raspi1-func"
      ]
    ]
  },
  {
    "id": "raspi1-func",
    "type": "function",
    "z": "524bde768d1b3eb9",
    "name": "Payload Pi",
    "func": "msg = {\n  topic: \"telemetry\",\n  payload: {\n    device_id: \"raspi-1\",\n    temperature: Math.random() * 10 + 20,\n    humidity: Math.random() * 20 + 40\n  },\n  properties: [\n    { \"key\": \"exampleKey\", \"value\": \"exampleValue\" } // Optional, include if needed\n  ]\n};\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 220,
    "wires": [
      [
        "raspi1-debug",
        "926c5b13ef3ddb46"
      ]
    ]
  },
  {
    "id": "raspi1-debug",
    "type": "debug",
    "z": "524bde768d1b3eb9",
    "name": "Debug Pi 1",
    "active": false,
    "tosidebar": true,
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 220,
    "wires": []
  },
  {
    "id": "raspi2-inject",
    "type": "inject",
    "z": "524bde768d1b3eb9",
    "name": "Raspberry Pi",
    "props": [],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": "",
    "topic": "",
    "x": 146,
    "y": 431,
    "wires": [
      [
        "raspi2-func"
      ]
    ]
  },
  {
    "id": "raspi2-func",
    "type": "function",
    "z": "524bde768d1b3eb9",
    "name": "Payload Pi",
    "func": "msg = {\n  topic: \"telemetry\",\n  payload: {\n    device_id: \"raspi-2\",\n    temperature: Math.random() * 10 + 20,\n    humidity: Math.random() * 20 + 40\n  },\n  properties: [\n    { \"key\": \"exampleKey\", \"value\": \"exampleValue\" } // Optional, include if needed\n  ]\n};\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 356,
    "y": 431,
    "wires": [
      [
        "raspi2-debug",
        "f96089bf547ff022"
      ]
    ]
  },
  {
    "id": "raspi2-debug",
    "type": "debug",
    "z": "524bde768d1b3eb9",
    "name": "Debug Pi 2",
    "active": false,
    "tosidebar": true,
    "x": 556,
    "y": 431,
    "wires": []
  },
  {
    "id": "raspi3-inject",
    "type": "inject",
    "z": "524bde768d1b3eb9",
    "name": "Raspberry Pi",
    "props": [],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": "",
    "topic": "",
    "x": 157,
    "y": 679,
    "wires": [
      [
        "raspi3-func"
      ]
    ]
  },
  {
    "id": "raspi3-func",
    "type": "function",
    "z": "524bde768d1b3eb9",
    "name": "Payload Pi",
    "func": "msg = {\n  topic: \"telemetry\",\n  payload: {\n    device_id: \"raspi-3\",\n    temperature: Math.random() * 10 + 20,\n    humidity: Math.random() * 20 + 40\n  },\n  properties: [\n    { \"key\": \"exampleKey\", \"value\": \"exampleValue\" } // Optional, include if needed\n  ]\n};\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 357,
    "y": 679,
    "wires": [
      [
        "raspi3-debug",
        "840347e3cc6e7199"
      ]
    ]
  },
  {
    "id": "raspi3-debug",
    "type": "debug",
    "z": "524bde768d1b3eb9",
    "name": "Debug Pi 3",
    "active": false,
    "tosidebar": true,
    "x": 557,
    "y": 679,
    "wires": []
  },
  {
    "id": "926c5b13ef3ddb46",
    "type": "azureiotdevice",
    "z": "524bde768d1b3eb9",
    "d": true,
    "deviceid": "raspi-1",
    "pnpModelid": "",
    "connectiontype": "constr",
    "authenticationmethod": "x509",
    "iothub": "sce-iothub-01.azure-devices.net",
    "isIotcentral": false,
    "scopeid": "",
    "enrollmenttype": "group",
    "certname": "raspi-1.cert.pem",
    "keyname": "raspi-1.key.pem",
    "passphrase": "",
    "protocol": "mqtt",
    "retryInterval": 10,
    "methods": [],
    "DPSpayload": "",
    "gatewayHostname": "",
    "caname": "",
    "ca": "",
    "x": 600,
    "y": 100,
    "wires": [
      [
        "c2ef7c926276a855"
      ]
    ]
  },
  {
    "id": "c2ef7c926276a855",
    "type": "debug",
    "z": "524bde768d1b3eb9",
    "name": "debug Azure Pi 1",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 810,
    "y": 100,
    "wires": []
  },
  {
    "id": "f96089bf547ff022",
    "type": "azureiotdevice",
    "z": "524bde768d1b3eb9",
    "d": true,
    "deviceid": "raspi-2",
    "pnpModelid": "",
    "connectiontype": "constr",
    "authenticationmethod": "x509",
    "iothub": "sce-iothub-01.azure-devices.net",
    "isIotcentral": false,
    "scopeid": "",
    "enrollmenttype": "group",
    "certname": "raspi-2.cert.pem",
    "keyname": "raspi-2.key.pem",
    "passphrase": "",
    "protocol": "mqtt",
    "retryInterval": 10,
    "methods": [],
    "DPSpayload": "",
    "gatewayHostname": "",
    "caname": "",
    "ca": "",
    "x": 600,
    "y": 331,
    "wires": [
      [
        "28d81c96b2fb33b6"
      ]
    ]
  },
  {
    "id": "28d81c96b2fb33b6",
    "type": "debug",
    "z": "524bde768d1b3eb9",
    "name": "debug Azure Pi 2",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 810,
    "y": 331,
    "wires": []
  },
  {
    "id": "840347e3cc6e7199",
    "type": "azureiotdevice",
    "z": "524bde768d1b3eb9",
    "d": true,
    "deviceid": "raspi-3",
    "pnpModelid": "",
    "connectiontype": "constr",
    "authenticationmethod": "x509",
    "iothub": "sce-iothub-01.azure-devices.net",
    "isIotcentral": false,
    "scopeid": "",
    "enrollmenttype": "group",
    "certname": "raspi-3.cert.pem",
    "keyname": "raspi-3.key.pem",
    "passphrase": "",
    "protocol": "mqtt",
    "retryInterval": 10,
    "methods": [],
    "DPSpayload": "",
    "gatewayHostname": "",
    "caname": "",
    "ca": "",
    "x": 600,
    "y": 560,
    "wires": [
      [
        "750a7648d9bdaf09"
      ]
    ]
  },
  {
    "id": "750a7648d9bdaf09",
    "type": "debug",
    "z": "524bde768d1b3eb9",
    "name": "debug Azure Pi 3",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 810,
    "y": 560,
    "wires": []
  },
  {
    "id": "c5a773bfc92d5671",
    "type": "azureiotdevice",
    "z": "524bde768d1b3eb9",
    "d": true,
    "deviceid": "edge-gateway-1",
    "pnpModelid": "",
    "connectiontype": "constr",
    "authenticationmethod": "x509",
    "iothub": "sce-iothub-01.azure-devices.net",
    "isIotcentral": false,
    "scopeid": "",
    "enrollmenttype": "group",
    "certname": "edge-gateway-1.cert.pem",
    "keyname": "edge-gateway-1.key.pem",
    "passphrase": "",
    "protocol": "mqtt",
    "retryInterval": 10,
    "methods": [],
    "DPSpayload": "",
    "gatewayHostname": "",
    "caname": "",
    "ca": "",
    "x": 730,
    "y": 920,
    "wires": [
      [
        "1d1226decca79ea6"
      ]
    ]
  },
  {
    "id": "1d1226decca79ea6",
    "type": "debug",
    "z": "524bde768d1b3eb9",
    "name": "debug 1",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 960,
    "y": 920,
    "wires": []
  },
  {
    "id": "d33c713ecff66ace",
    "type": "exec",
    "z": "524bde768d1b3eb9",
    "d": true,
    "command": "export $(cat /data/.env | xargs) && node /data/GATEWAY.js",
    "addpay": "",
    "append": "",
    "useSpawn": "true",
    "timer": "0",
    "winHide": false,
    "oldrc": false,
    "name": "gateway",
    "x": 727.1428375244141,
    "y": 1024.2857303619385,
    "wires": [
      [
        "c0e8b0b840e4bd2a"
      ],
      [
        "c0e8b0b840e4bd2a"
      ],
      [
        "c0e8b0b840e4bd2a"
      ]
    ],
    "icon": "node-red/bridge.svg"
  },
  {
    "id": "c0e8b0b840e4bd2a",
    "type": "debug",
    "z": "524bde768d1b3eb9",
    "name": "debug 2",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 947.1428375244141,
    "y": 1024.2857303619385,
    "wires": []
  },
  {
    "id": "7637d9a6774d7da9",
    "type": "mqtt out",
    "z": "524bde768d1b3eb9",
    "name": "Publish sensor-data",
    "topic": "/node/Pi-livingroom-f8e7d6c5b4a39281/data",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "244ef6ab4bfd754c",
    "x": 600,
    "y": 1360,
    "wires": []
  },
  {
    "id": "094b1956188c140f",
    "type": "function",
    "z": "524bde768d1b3eb9",
    "name": "Pi 1 payload",
    "func": "const nodeId = `Pi-${msg.pi_location}-${msg.pi_serial_number}`;\nmsg.topic = `node/${nodeId}/data`;\n\nmsg.payload = {\n    circuitA: {\n        temperature: Math.random() * 10 + 20,\n        humidity: Math.random() * 20 + 40,\n    },\n    circuitB: {\n        temperature: Math.random() * 10 + 20,\n        humidity: Math.random() * 20 + 40,\n    },\n    circuitC: {\n        temperature: Math.random() * 10 + 20,\n        humidity: Math.random() * 20 + 40,\n    },\n    timestamp: Date.now()\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 1360,
    "wires": [
      [
        "7637d9a6774d7da9"
      ]
    ]
  },
  {
    "id": "de52615e739fba8e",
    "type": "inject",
    "z": "524bde768d1b3eb9",
    "name": "Raspberry Pi 1",
    "props": [
      {
        "p": "pi_serial_number",
        "v": "f8e7d6c5b4a39281",
        "vt": "str"
      },
      {
        "p": "pi_location",
        "v": "livingroom",
        "vt": "str"
      }
    ],
    "repeat": "30",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 160,
    "y": 1360,
    "wires": [
      [
        "094b1956188c140f"
      ]
    ]
  },
  {
    "id": "def2b07f08ff1021",
    "type": "mqtt in",
    "z": "524bde768d1b3eb9",
    "name": "subscribe",
    "topic": "/node/Pi-livingroom-f8e7d6c5b4a39281/data",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "244ef6ab4bfd754c",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 900,
    "y": 1360,
    "wires": [
      [
        "9914aec49361a956"
      ]
    ]
  },
  {
    "id": "9914aec49361a956",
    "type": "debug",
    "z": "524bde768d1b3eb9",
    "name": "debug MQTT",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1030,
    "y": 1460,
    "wires": []
  },
  {
    "id": "e018248b4fca131c",
    "type": "function",
    "z": "524bde768d1b3eb9",
    "name": "Pi 2 payload",
    "func": "const nodeId = `Pi-${msg.pi_location}-${msg.pi_serial_number}`;\nmsg.topic = `node/${nodeId}/data`;\n\nmsg.payload = {\n    circuitA: {\n        temperature: Math.random() * 10 + 20,\n        humidity: Math.random() * 20 + 40,\n    },\n    circuitB: {\n        temperature: Math.random() * 10 + 20,\n        humidity: Math.random() * 20 + 40,\n    },\n    timestamp: Date.now()\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 1440,
    "wires": [
      [
        "39bf9677e5073aa0"
      ]
    ]
  },
  {
    "id": "924510c84189d222",
    "type": "inject",
    "z": "524bde768d1b3eb9",
    "name": "Raspberry Pi 2",
    "props": [
      {
        "p": "pi_serial_number",
        "v": "1b2c3d4e5f6a7b8c",
        "vt": "str"
      },
      {
        "p": "pi_location",
        "v": "hall",
        "vt": "str"
      }
    ],
    "repeat": "15",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 160,
    "y": 1440,
    "wires": [
      [
        "e018248b4fca131c"
      ]
    ]
  },
  {
    "id": "eb8d3adddbd9d24e",
    "type": "inject",
    "z": "524bde768d1b3eb9",
    "name": "Raspberry Pi 3",
    "props": [
      {
        "p": "pi_serial_number",
        "v": "9e8f7d6c5b4a3e2d",
        "vt": "str"
      },
      {
        "p": "pi_location",
        "v": "checkin",
        "vt": "str"
      }
    ],
    "repeat": "15",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 160,
    "y": 1520,
    "wires": [
      [
        "05fd413f9ad07068"
      ]
    ]
  },
  {
    "id": "05fd413f9ad07068",
    "type": "function",
    "z": "524bde768d1b3eb9",
    "name": "Pi 3 payload",
    "func": "const nodeId = `Pi-${msg.pi_location}-${msg.pi_serial_number}`;\nmsg.topic = `node/${nodeId}/data`;\n\nmsg.payload = {\n    circuitA: {\n        temperature: Math.random() * 10 + 20,\n        humidity: Math.random() * 20 + 40,\n    },\n    circuitB: {\n        temperature: Math.random() * 10 + 20,\n        humidity: Math.random() * 20 + 40,\n    },\n    circuitC: {\n        temperature: Math.random() * 10 + 20,\n        humidity: Math.random() * 20 + 40,\n    },\n    timestamp: Date.now()\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 1520,
    "wires": [
      [
        "24e462c7049af206"
      ]
    ]
  },
  {
    "id": "39bf9677e5073aa0",
    "type": "mqtt out",
    "z": "524bde768d1b3eb9",
    "name": "Publish sensor-data",
    "topic": "/node/Pi-hall-1b2c3d4e5f6a7b8c/data",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "2c06a55a47dc6d84",
    "x": 600,
    "y": 1440,
    "wires": []
  },
  {
    "id": "24e462c7049af206",
    "type": "mqtt out",
    "z": "524bde768d1b3eb9",
    "name": "Publish sensor-data",
    "topic": "/node/Pi-checkin-9e8f7d6c5b4a3e2d/data",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "6d1fc0383f2aa38d",
    "x": 600,
    "y": 1520,
    "wires": []
  },
  {
    "id": "111fc5b95e246833",
    "type": "mqtt in",
    "z": "524bde768d1b3eb9",
    "name": "subscribe",
    "topic": "/node/Pi-hall-1b2c3d4e5f6a7b8c/data",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "2c06a55a47dc6d84",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 860,
    "y": 1440,
    "wires": [
      [
        "9914aec49361a956"
      ]
    ]
  },
  {
    "id": "d856a04a12966d41",
    "type": "mqtt in",
    "z": "524bde768d1b3eb9",
    "name": "subscribe",
    "topic": "/node/Pi-checkin-9e8f7d6c5b4a3e2d/data",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "6d1fc0383f2aa38d",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 880,
    "y": 1520,
    "wires": [
      [
        "9914aec49361a956"
      ]
    ]
  }
]