nodered/data/flows.json
[
  {
    "id": "524bde768d1b3eb9",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "raspi1-inject",
    "type": "inject",
    "z": "524bde768d1b3eb9",
    "name": "Raspberry Pi 1",
    "props": [],
    "repeat": "30",
    "once": true,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 220,
    "wires": [
      [
        "raspi1-func"
      ]
    ]
  },
  {
    "id": "raspi1-func",
    "type": "function",
    "z": "524bde768d1b3eb9",
    "name": "Payload Pi 1",
    "func": "msg = {\n  topic: \"telemetry\",\n  payload: {\n    device_id: \"raspi-1\",\n    temperature: Math.random() * 10 + 20,\n    humidity: Math.random() * 20 + 40\n  },\n  properties: [\n    { \"key\": \"exampleKey\", \"value\": \"exampleValue\" } // Optional, include if needed\n  ]\n};\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 220,
    "wires": [
      [
        "raspi1-debug",
        "926c5b13ef3ddb46"
      ]
    ]
  },
  {
    "id": "raspi1-debug",
    "type": "debug",
    "z": "524bde768d1b3eb9",
    "name": "Debug Pi 1",
    "active": true,
    "tosidebar": true,
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 220,
    "wires": []
  },
  {
    "id": "raspi2-inject",
    "type": "inject",
    "z": "524bde768d1b3eb9",
    "name": "Raspberry Pi 2",
    "props": [],
    "repeat": "30",
    "once": true,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 153,
    "y": 369,
    "wires": [
      [
        "raspi2-func"
      ]
    ]
  },
  {
    "id": "raspi2-func",
    "type": "function",
    "z": "524bde768d1b3eb9",
    "name": "Payload Pi 2",
    "func": "msg.payload = {\n  device_id: \"raspi-2\",\n  temperature: Math.random() * 10 + 20,\n  humidity: Math.random() * 20 + 40\n};\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 363,
    "y": 369,
    "wires": [
      [
        "raspi2-debug"
      ]
    ]
  },
  {
    "id": "raspi2-debug",
    "type": "debug",
    "z": "524bde768d1b3eb9",
    "name": "Debug Pi 2",
    "active": true,
    "tosidebar": true,
    "x": 563,
    "y": 369,
    "wires": []
  },
  {
    "id": "raspi3-inject",
    "type": "inject",
    "z": "524bde768d1b3eb9",
    "name": "Raspberry Pi 3",
    "props": [],
    "repeat": "30",
    "once": true,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 156,
    "y": 510,
    "wires": [
      [
        "raspi3-func"
      ]
    ]
  },
  {
    "id": "raspi3-func",
    "type": "function",
    "z": "524bde768d1b3eb9",
    "name": "Payload Pi 3",
    "func": "msg.payload = {\n  device_id: \"raspi-3\",\n  temperature: Math.random() * 10 + 20,\n  humidity: Math.random() * 20 + 40\n};\nreturn msg;",
    "outputs": 1,
    "x": 356,
    "y": 510,
    "wires": [
      [
        "raspi3-debug"
      ]
    ]
  },
  {
    "id": "raspi3-debug",
    "type": "debug",
    "z": "524bde768d1b3eb9",
    "name": "Debug Pi 3",
    "active": true,
    "tosidebar": true,
    "x": 556,
    "y": 510,
    "wires": []
  },
  {
    "id": "926c5b13ef3ddb46",
    "type": "azureiotdevice",
    "z": "524bde768d1b3eb9",
    "deviceid": "raspi-1",
    "pnpModelid": "",
    "connectiontype": "constr",
    "authenticationmethod": "x509",
    "iothub": "sce-iothub-01.azure-devices.net",
    "isIotcentral": false,
    "scopeid": "",
    "enrollmenttype": "group",
    "certname": "raspi-1.cert.pem",
    "keyname": "raspi-1.key.pem",
    "passphrase": "",
    "protocol": "mqtt",
    "retryInterval": 10,
    "methods": [],
    "DPSpayload": "",
    "gatewayHostname": "",
    "caname": "",
    "ca": "",
    "x": 600,
    "y": 100,
    "wires": [
      [
        "c2ef7c926276a855"
      ]
    ]
  },
  {
    "id": "c2ef7c926276a855",
    "type": "debug",
    "z": "524bde768d1b3eb9",
    "name": "debug Azure Pi 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 810,
    "y": 100,
    "wires": []
  }
]